<div *ngIf="kapcsolattarto">

    <h2>{{kapcsolattarto.firstName}} Details</h2>
    <div><span>id: </span>{{kapcsolattarto.id}}</div>
    <div>
      <label for="kapcsolattarto-firstname">First name: </label>
      <input id="kapcsolattarto-firstname" [(ngModel)]="kapcsolattarto.firstName" placeholder="firstName">
      <label for="kapcsolattarto-lastname">First name: </label>
      <input id="kapcsolattarto-lastname" [(ngModel)]="kapcsolattarto.lastName" placeholder="lastName">
    </div>
  
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
